<!-- Status -->
<h2 class="fs-3">Status</h2>
<div class="p-2">
    <div class="alert alert-primary" role="alert">
        Ready
    </div>
</div>

<!-- Controls -->
<h2 class="fs-3">Controls</h2>
<div class="p-2">
    <div class="input-group mb-3">
        <span class="input-group-text">Path</span>
        <input type="text" class="form-control" placeholder="" aria-label="Directory path">
        <button class="btn btn-success" type="button">Search</button>
    </div>
</div>

<!-- Output -->
<h2 class="fs-3">Output</h2>
<div class="p-2">
    <div class="accordion" id="accordion-section">

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Log
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion-section">
                <div class="accordion-body">
                    
                    <div>Content</div>

                </div>
            </div>
        </div>

    </div>
</div>

@code
{

}
