@page "/{ScannerId:guid?}"
@page "/scanner/{ScannerId:guid?}"
@inject ScannerService ScannerService

<PageTitle>Minecraft Jar Scanner</PageTitle>

<div class="p-2">
    <h1>Minecraft Jar Scanner</h1>
    <div>A tool to help you search for Minecraft-related .jar files.</div>
</div>

<ul class="nav nav-tabs px-2">

    <li class="px-1">
        <button class="btn btn-success" @onclick="@NewScanner">New tab</button>
    </li>

    @foreach (Scanner scanner in ScannerService.GetScanners())
    {
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="@($"/scanner/{scanner.Id}")">
                @if (scanner.Status == ScannerStatus.Idle)
                {
                    <span>New tab</span>
                }
                else
                {
                    <span>@scanner.ScannerPath</span>
                }
                <span class="ps-1">
                    <span class="badge text-bg-@(StatusHelper.GetColorName(scanner.Status))">@scanner.Status</span>
                </span>
            </NavLink>
        </li>
    }
</ul>

@if (TryGetScanner(out Scanner? currentScanner))
{
    <div class="p-2">
        <ScannerView Scanner="currentScanner" />
    </div>
}

@code
{
    [Parameter]
    public Guid? ScannerId { get; set; }

    private bool TryGetScanner([NotNullWhen(true)] out Scanner? scanner)
    {
        scanner = null;

        if (ScannerId.HasValue)
        {
            scanner = ScannerService.GetScanner(ScannerId.Value);
        }
        else
        {
            IReadOnlyList<Scanner> allScanners = ScannerService.GetScanners();
            Scanner? firstScanner = allScanners.FirstOrDefault();
            if (firstScanner != null)
            {
                scanner = firstScanner;
            }
        }
        return scanner != null;
    }

    private void NewScanner()
    {
        ScannerService.CreateNewScanner();
	}
}
