@page "/"

<PageTitle>Minecraft Jar Scanner</PageTitle>

<div class="p-2">
    <h1>Minecraft Jar Scanner</h1>
    <div>A tool to help you search for Minecraft-related .jar files.</div>
</div>

<ul class="nav nav-tabs px-2">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
            <span>Tab 1</span>
            <span class="badge text-bg-secondary">Ready</span>
        </a>
    </li>
    <li class="px-1">
        <button class="btn btn-success">New tab</button>
    </li>
</ul>

<div class="d-flex flex-column px-2">

    <Scanner />

</div>
